<h1>Reviews for <%= link_to @movie.name, movie_path(@movie) %></h1>

<ul class="reviews">
  <% @review.each do |r| %>
    <p><%= link_to r.user.name, r.user %>: <%= r.review %></p>
    <span class="date"><%= time_ago_in_words(r.created_at) %> ago</span>
  <% end %>
</ul>
